#preview-container {
    background-size: contain;
    position: absolute;
    top: 50vh;
    left: -300px;
    overflow: hidden;
}

#zoom-container {
    opacity: 0.5;
    padding: 0;
    background: black;
    cursor: col-resize;
}
