#preview-container {
    background-repeat: no-repeat;
    position: absolute;
    right:1vw;
    overflow: hidden;
    bottom: -80vh;
    border: 2px solid white;
}

#bounds {
    width: 400px;
    height: 400px;
    background-color:blue;
}

#zoom-container {
    padding: 0;
    cursor: move;
    border: 2px solid red;
}
